/*--------------------------------------------------------*\
    Menus ==> Checkbox
\*--------------------------------------------------------*/

.menu--checkbox {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    max-width: 20rem;
    height: 100vh;
    display: block;
    background-color: $white;
    color: $body;
    padding: 5rem 2rem;
    overflow: scroll;
    transform: translateX(-100%);
    @include transition(transform);

    &--active {
        transform: translateX(0);
    }

    &__open {
        display: none;
        @include button();
        margin-right: 0;

        @include m(768) {
            display: inline-block;
        }
    }

    &__close {
        @include button--close($blue, true);
    }

    .checkbox__group {
        width: 100%;
        display: block;
        margin-bottom: 1.5rem;

        &--hidden {
            display: none;
        }
    }

    .group {
        &__title {
            @include heading(1rem, 700);
            @include border('bottom');
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
        }

        &__filters {
            width: 100%;
            display: block;
        }
    }

    .filter {
        &__item {
            @include body(0.875rem, 400, 1.5);
            @include flex($justify: flex-start);
            padding: 0.125rem 0;
        }

        &__label {
            order: 2;
        }

        &__input {
            order: 1;
            margin-right: 0.5rem;
        }
    }
}
