/*--------------------------------------------------------*\
    Center
\*--------------------------------------------------------*/

@mixin center($direction: 'xy', $shift: 50%) {
    @if ($direction != 'reset') {
        position: absolute;
    }

    @if ($direction == 'xy') {
        top: $shift;
        left: $shift;
        transform: translate(-50%, -50%);
    }

    @if ($direction == 'x') {
        left: $shift;
        transform: translateX(-50%);
    }

    @else if ($direction == 'y') {
        top: $shift;
        transform: translateY(-50%);
    }

    @else if ($direction == 'reset') {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
    }
}
