/*--------------------------------------------------------*\
    Cover
\*--------------------------------------------------------*/

@mixin cover($hidden: false) {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    @if ($hidden == true) {
        opacity: 0;
        // visibility: hidden;
        cursor: pointer;
    }
}

.cover {
    @include cover();
}

.cover--hidden {
    @include cover($hidden: true);
}
