/*--------------------------------------------------------*\
	Block
\*--------------------------------------------------------*/

.block {
	width: 100%;
	position: relative;
	z-index: 5;
    @include background();
	@include blockPadding();

	&__container {
		width: 100%;
		max-width: 80rem;
		margin: 0 auto;
		position: relative;
		padding: 0 3.5rem;
		z-index: 10;

		@include m(1024) {
			padding: 0 3rem;
		}

		@include m(768) {
			padding: 0 2.75rem;
		}
		@include m(640) {
			padding: 0 2rem;
		}
		@include m(480) {
			padding: 0 1.5rem;
		}

		&--full {
			max-width: 100%;
		}
	}

	&__header {
		width: 100%;
		margin-bottom: 2.5rem;
	}

	// @each $color in $colors {
	// 	$color__name: nth($color, 1);
	// 	&.bg--#{$color__name}:not(.bg--image) {
	// 		+ .bg--#{$color__name}:not(.bg--image) {
	// 			padding-top: 0;
	// 		}
	// 	}
	// }

	&.block--backgroundImage.bg--color {
		padding: 2rem 0;

		@each $color in $colors {
			$color__name: nth($color, 1);
			$color__var: nth($color, 2);
			&.bg--#{$color__name} {
				&::before {
					content: '';
					@include cover();
					background-color: rgba($color__var, 0.85);
					z-index: 2;
					height: calc(100% - 4rem);
					top: 2rem;
					bottom: 2rem;
				}
			}
		}

		&::after {
			content: '';
			@include cover();
			background-color: rgba($white, 0.50);
			z-index: 1;
		}
	}
}

.container--bgImage {
	@include cover();
	object-fit: cover;
	z-index: 1;
	opacity: 0;
	transition: opacity 2s ease-in-out;

	&.fadeIn {
		opacity: 1;
	}
}
