/*--------------------------------------------------------*\
    Basic Layouts => Container
\*--------------------------------------------------------*/

.container {
    @include blockContainer();

    &--flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &--grid {
        display: grid;
    }

    &--bounded {
        max-width: 80rem;
        @include containerSpacing('x');
        margin: 0 auto;
    }

    &--full {
        max-width: 80rem;
        padding: 0;
        margin: 0 auto;
    }
}
