/*--------------------------------------------------------*\
	Document
\*--------------------------------------------------------*/

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $body;
}

html, body {
	height: 100%;
}

body {
	background-repeat: no-repeat;
}

*, *::before, *::after {
	box-sizing: inherit;
	-webkit-font-smoothing: inherit;
}

.wrapper {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-flow: row wrap;
	background-color: #fff;
	overflow: hidden;
	// opacity: 0;
	// transition: opacity 0.5s ease-in;

	// &--loaded {
	// 	opacity: 1;
	// }
}

main.main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    overflow: hidden;

    section.block:first-of-type:not(.block--single) {
        padding-top: 9.25rem;

        @include m(1024) {
            padding-top: 8.25rem;
        }

        @include m(848) {
            padding-top: 7.75rem 0 3.5rem;
        }

        @include m(480) {
            padding-top: 6.75rem 0 2.5rem;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
