/*--------------------------------------------------------*\
	Basic Layouts => Block
\*--------------------------------------------------------*/

// Temporary: Main Banner
.interior-header {
    float: none;
}

$headerHeight: 0;

// Separate section for block-spercific padding delcarations
section.block {
    @include block();
}

section.block {

    // Combinations
    &--backgroundImage {
        color: $white;

        &#block--content__1 {
            padding: 15rem 0;

            @include m(768) {
                padding: 10rem 0;
            }

            @include m(640) {
                padding: 8rem 0 4rem;
            }
        }
    }

    // Block Header
	&__header {
		@include header();

        &--bounded {
            @include blockContainer();
        }
	}
}



