/*--------------------------------------------------------*\
	Colors
\*--------------------------------------------------------*/

// main palette
$blue: #4097c9;
$blue--dark: #1b3664;
$purple: #686993;
$white: #ffffff;
$grey--light: #f3f6f9;
$grey--dark: #272727;
$black: $grey--dark;
$body: $black;

@function greyscale($level) {
    $color: mix(#f3f6f9, #272727, (10% * $level));
    @return $color;
}


// greyscale palette
// $grey: #e5e5e5;
// $grey--light: #f6f6f6;
// $grey--medium: #818181;
// $grey--dark: #323232;
// $grey--border: $grey--light;
// $black: #2d2d2d;
// $body: $black;


// $gradients: (

//     // 0, 50, 100
//     primary: (
//         $green,
//         $blue,
//         $green--dark,
//     ),
//     secondary: (

//         // 0, 33, 100
//         (
//             $green,
//             $blue--light,
//             $blue,
//         ),

//         // 0, 50, 100
//         (
//             $green,
//             $purple,
//             $green,
//         ),

//         // 0, 40, 100
//         (
//             $green--light,
//             $green,
//             $blue,
//         ),
//     ),
// );

/*--------------------------------------------------------*\
	Backgrounds
\*--------------------------------------------------------*/

$colors:
            'none' transparent,
            'blue' $blue,
            'blue--dark' $blue--dark,
            'purple' $purple,
            'white' $white,
            'grey--light' $grey--light,
            'grey--dark' $grey--dark,
            'black' $grey--dark;

@each $color in $colors {
	$color__name: nth($color, 1);
	$color__var: nth($color, 2);

	.background--#{$color__name} {
		background-color: $color__var;

		@if ($color__name != 'white' and
             $color__name != 'grey--light' and
             $color__name != 'grey' and
             $color__name != 'none'
        ) {
			&, .content,
			h1, h2, h3, h4 {
				color: $white;
			}
		}
	}
}
