/*--------------------------------------------------------*\
	Close Button (X)
\*--------------------------------------------------------*/

@mixin button--close($color, $inside: false, $position: false) {
	position: absolute;
	width: 1.25rem;
	height: 1.25rem;
	transform: rotate(45deg);
	cursor: pointer;
	transition: transform 1s $timing;
	z-index: 100;

	// Position
    @if ($inside == false) {
        @if ($position != false) {
            top: map-get($position, 'y');
            right: map-get($position, 'x');
            @include m(400) {
                top: map-get($position, 'y--mobile');
                right: map-get($position, 'x--mobile');
            }
        }

        @else {
            top: 0.5rem;
            right: -2.5rem;
            @include m(768) {
                right: 0.5rem;
                top: -2.5rem;
            }

            @include m(440) {
                top: -2.25rem;
            }
        }
    }

	// Position: Inside
	@if ($inside == true and $position == false) {
		top: 1.5rem;
		right: 1.5rem;
	}

	&::before, &::after {
		content: '';
		position: absolute;
		background: $color;
		width: 1.25rem;
		height: 0.125rem;
		display: block;
	}
	&::before {
		transform: rotate(90deg);
		left: 0;
		top: 0.75rem;
	}
	&::after {
		left: 0;
		top: 0.75rem;
	}

	&:hover {
		transform:
			translateY(-0.25rem)
			rotate(45deg);
	}
}
