/*--------------------------------------------------------*\
    Form Elements

    TODO:

    - Make different styles for multiple forms vs.
    single forms.

    - Modifiers for __types__ of input. for example:
    form__input--text, form__input--email, etc.
\*--------------------------------------------------------*/

@import "select2";

.form {
    @include border($color: $green);
    padding: 1.5rem;

    &--ajaxLogin {
        width: 100%;
        max-width: 30rem;
        margin: 0 auto;
    }

    &--success {
        border-color: $blue;
    }

    &--error {
        // border-color: $red;
    }

    &__container {

    }

    &__header {
        &--editDetails {
            margin-bottom: 1.5rem;

            .form__title {
                margin-bottom: 0;
            }
        }

        &--ajaxLogin {
            margin-bottom: 1.5rem;
        }
    }

    &__title {
        color: $green;
        margin-bottom: 2rem;
        @include heading(1.5rem, 700, 1.375);
        @include m(960) {
            font-size: 1.25rem;
        }

        &--large {
            @include heading(1.875rem, 700, 1.375);
            @include m(960, 769) {
                font-size: 1.5rem;
            }
        }

        > .form__label {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                color: $green;
                order: 1;
                margin-right: 1rem;
            }

            input {
                width: auto;
                height: auto;
                order: 2;
                margin-bottom: 0;
            }
        }
    }

    &__fields {
        width: 100%;
        display: block;

        &--columns {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .form__field {
                @include flex(1, 0, width(2, 3.5rem));
                margin-right: 3.5rem;

                &:nth-of-type(2n) {
                    margin-right: 0;
                }
            }
        }
    }

    &__container {
        width: 100%;
        display: block;
    }

    &__field,
    &__label,
    &__input,
    &__field {
        width: 100%;
        display: inline-block;
    }

    &__field {
        width: 100%;
        margin-bottom: 1rem;
        @include body(1rem);
        position: relative;
        margin-bottom: 1.5rem;

        &--required {
            label span {
                position: relative;

                &::after {
                    content: '*';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    padding-left: 0.25rem;
                }
            }
        }

        &--checkbox {
            @include flex($justify: flex-start);

            label.form__label,
            input.form__input {
                width: auto;
            }

            label.form__label {
                order: 1;
                margin-right: 0.75rem;
                margin-bottom: 0;
            }

            input.form__input {
                order: 2;
            }
        }

        // Direct parent/wrapper for input in some forms
        .woocommerce-input-wrapper {
            width: 100%;
            max-width: 24rem;
        }

        label, .form__label,
        input, .form__input {
            width: 100%;
            @include body(1rem, 1.25);
        }

        label, .form__label {
            margin-bottom: 0.5rem;
            pointer-events: none;
            color: $body;
        }

        input, .form__input {
            width: 100%;
            max-width: 24rem;
            padding: 0.5rem;
            @include border();
            border-radius: 0.25rem;
            outline: none;
            background-color: $white;

            &::-webkit-input-placeholder {
                color: $grey;
                opacity: 1;
            }

            &::-moz-placeholder {
                color: $grey;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: $grey;
                opacity: 1;
            }
        }

        // non-class checkbox
        input[type="checkbox"] {}

        button.button {
            @include button();
            margin-top: 1rem;
        }
    }

    &__input {
        &--submit {
            @include button($config: (
                color: $green,
                hover: $blue,
                active: $blue,
            ));
            margin-bottom: 0.5rem;
        }
    }

    &__status {
        @include body(0.875rem, 600);
        margin-top: 1rem;

        &--success {
            color: $blue;
        }

        &--error {
            // color: $red;
        }
    }
}