/*--------------------------------------------------------*\
    Select2 elements (inside woocommerce forms)
\*--------------------------------------------------------*/

.select2.select2 {
    &-container,
    &-selection {
        width: 100%;
        max-width: 24rem;
    }

    &-container {
        &--open {
            width: 100%;
        }

        &--default {
            display: block;
            width: 100%;

            .select2-results {
                &__option {
                    outline: none;

                    &--highlighted[data-selected] {
                        background-color: $green;
                    }
                }
            }

            .selection {
                display: block;
                width: 100%;
            }

            .select2-selection--single {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                height: auto;
                border: none;
                margin: 0;
                outline: none;
                @include border($radius: 0.25rem);

                .select2-selection {
                    &__rendered {
                        @include flex(0, 1, auto);
                        padding: 0.25rem 0.75rem;
                    }

                    &__arrow {
                        @include flex(1, 0, 2.25rem);
                        height: auto;
                        position: relative;
                        background-color: none;

                        b {
                            border-color: $green transparent transparent transparent;
                        }
                    }
                }
            }
        }
    }
}