.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;

    .content {
        padding:1rem 3rem;
        justify-content: center;
        align-items:flex-start;
    }
    
    h2 {
        color: black;
    }
}
