/*--------------------------------------------------------*\
    Animations => Loaded
\*--------------------------------------------------------*/

@mixin loaded() {
    position: relative;
    opacity: 0;
    animation-fill-mode: both;
    @include delay(2, 0.25, animation);

    &.loaded {
        animation-duration: 0.875s;
        animation-name: loaded;
    }
}
