/*--------------------------------------------------------*\
    Auto
\*--------------------------------------------------------*/

@mixin auto() {
    margin: {
        left: auto;
        right: auto;
    }
}
