/*--------------------------------------------------------*\
    Block Padding
        - Deprecated?
\*--------------------------------------------------------*/

@mixin blockPadding() {
    padding: 5rem 0;
    @include m(768) {
        padding: 4rem 0;
    }
    @include m(480) {
        padding: 3.5rem 0;
    }
}
