/*--------------------------------------------------------*\
    Block Container
\*--------------------------------------------------------*/

@mixin blockContainer($padding: 0) {
    width: 100%;
    max-width: 80rem;
    position: relative;
    z-index: 10;
    @include auto();
    @include containerSpacing('x');
}
