/*--------------------------------------------------------*\
	Container
\*--------------------------------------------------------*/

@mixin container($display: block, $flex: false) {
    width: 100%;
    max-width: 80rem;
    position: relative;
    z-index: 10;
	display: $display;
    @include auto();
	@include containerSpacing('x');

	@if ($flex == false) {
		width: 100%;
	}

	@if ($display == flex) {
		align-items: center;
	}
}

// @mixin container($config: ()) {
//     $config: extend(
//         (
//             width: 100%,
//             maxWidth: 80rem,
//             display: block,
//             flex: (
//                 direction: row,
//                 wrap: nowrap,
//                 justify: space-between,
//                 align: center,
//                 center: false,
//             ),
//             backgroundColor: $white,
//             position: relative,
//             zIndex: 10,
//         ), $config
//     );
// }