/*--------------------------------------------------------*\
    Flex
\*--------------------------------------------------------*/

@mixin flex(
    $display: flex,
    $width: 100%,
    $direction: row,
    $wrap: nowrap,
    $justify: space-between,
    $align: center,
    $center: false
) {
    width: $width;
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;

    // center?
    @if ($center) {
        justify-content: center;
        align-items: center;
    }
    @content;
}

@mixin flexItem($shrink, $grow, $basis) {
    flex-shrink: $shrink;
    flex-grow: $grow;
    flex-basis: $basis;
}

// @mixin flexItem($config: ()) {
//     $config: extend(
//         (
//             flex-shrink: $shrink,
//             flex-grow: $grow,
//             flex-basis: $basis,
//             order: $order,
//         ), $config
//     );
// }