/*--------------------------------------------------------*\
    grid
\*--------------------------------------------------------*/

@mixin grid($config: ()) {
    $config: extend(
        (
            width: (100%, 100%),
            justify: stretch,
            align: (
                content: stretch,
                items: stretch,
            ),
            template: (
                columns: repeat(24, 1fr),
                rows: auto,
            ),
            gap: 0,
        ), $config
    );

    $width: map-get($config, width);
    $justify: map-get($config, justify);
    $align: map-get($config, align);
    $content: map-get($align, content);
    $items: map-get($align, items);
    $template: map-get($config, template);
    $columns: map-get($template, columns);
    $rows: map-get($template, rows);
    $gap: map-get($config, gap);

    width: nth($width, 1);
    max-width: nth($width, 2);
    display: grid;
    justify-content: $justify;
    align-content: $content;
    align-items: $items;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
    @content;
}

@mixin gridItem($columns, $row: null) {
    grid-column: span $columns;
    @if ($row != null and type-of($row) != null) {
        grid-row: span $row;
    }
}