/*--------------------------------------------------------*\
    fonts

    TODO: write a 'font' mixin that generates subfont mixins,
    which then generates headings/body so i don't have to keep
    writing this over and over again.
\*--------------------------------------------------------*/

// @import "definitions", "weights";

// @mixin heading($size, $lineHeight: 1.125, $style: normal) {
//     @include light($size, $lineHeight, $style);
// }

// @mixin body($size: 1rem, $lineHeight: 1.375, $style: normal) {
//     @include regular($size, $lineHeight, $style);
// }

// weights: 400,400i,500,600,700,800
@mixin garamond($size: 1rem, $weight: 400, $lineHeight: 1.5, $style: normal) {
    font: {
        family: 'EB Garamond', serif;
        size: $size;
        weight: $weight;
        style: $style;
    }
    line-height: $lineHeight
}

@mixin adelleSans($size: 1rem, $weight: 400, $lineHeight: 1.5, $style: normal) {
    font: {
        family: adelle-sans, sans-serif;
        size: $size;
        weight: $weight;
        style: $style;
    }
    line-height: $lineHeight
}

/*--------------------------------------------------------*\
    Declarations
\*--------------------------------------------------------*/

.content {

}
