/*--------------------------------------------------------*\
	Forms => Default Styling
\*--------------------------------------------------------*/

::-webkit-input-placeholder {
	@include rg(1rem, 1);
	color: $grey;
	opacity: 1;
}

::-moz-placeholder {
	@include rg(1rem, 1);
	color: $grey;
	opacity: 1;
}

:-ms-input-placeholder {
	@include rg(1rem, 1);
	color: $grey;
	opacity: 1;
}