/*--------------------------------------------------------*\
	Forms => Marketo Specific Styling

	// Green border on confirmed?
\*--------------------------------------------------------*/

.mktoAsterix,
.mktoClear,
.mktoOffset {
	display: none;
}

.mktoForm {
	max-width: 30rem;
}

.mkto {

	&Form,
	&FormRow,
	&Col,
	&FieldWrap,
	&Field {
		width: 100%;
	}

	&Form,
	&FormRow,
	&Col,
	&FieldWrap,
	&Field {
		&[style*="width"] {
			width: 100% !important;
		}
	}

	&FormRow {
		margin-bottom: 1.25rem !important;

		input, textarea, select {
			color: $body;
			@include rg(1rem, 1.25);
			border: 1px solid $grey--border;
			padding: 0.5rem;
			background-color: #fff;
			outline: none;
			-webkit-appearance: none;
		}
	}

	&FieldWrap {
		label {
			width: 100%;
			display: block;
			margin-bottom: 0.5rem;

			&, span, p, strong {
				@include bd(1.125rem, 1);
				color: $orange;
			}
		}
	}

	&ButtonRow {
		.mktoButtonWrap {
			margin-left: 0 !important;
		}

		button[type="submit"] {
			@include button();
		}
	}

	&ErrorMsg {
		padding-top: 0.25rem;
		@include bd(0.875rem, 1.25);
		color: lighten($red, 20%);
	}
}
