/*--------------------------------------------------------*\
    Blockquote
\*--------------------------------------------------------*/

blockquote {
    position: relative;
    font-size: 1.375rem;
    line-height: 1.5;
    padding: 3.5rem 0;
    @include containerSpacing('x');

    @include m(848) {
        font-size: 1.25rem;
        line-height: 1.375;
    }

    @include m(767) {
        font-size: 1.125rem;
        padding-right: 0;
    }

    @include m(560) {
        padding: 0 1rem;
        margin: 2.5rem 0;
    }

    em {
        // @include neutra(1rem, 1.625);
        font-style: normal;
        text-transform: uppercase;
    }
}
