/*--------------------------------------------------------*\
    SVG
\*--------------------------------------------------------*/

.wrapper {
    svg {
        transform: scale(0);
        opacity: 0;
        transition:
            transform 0.5s ease-in,
            opacity 0.5s ease-in;
    }

    &--loaded {
        svg {
            opacity: 1;
            transform: scale(1);
        }
    }
}