/*--------------------------------------------------------*\
    fonts => mixins => raw
\*--------------------------------------------------------*/

// weights: 300, 400, 400 (italic), 600, 700
@mixin proxima($size: 1rem, $weight: 400, $lineHeight: 1.5, $style: normal) {
    font: {
        family: proxima-nova, sans-serif;
        weight: $weight;
        style: $style;
        size: $size;
    }
    line-height: $lineHeight;
}

// weights: 500
@mixin gothic($size: 1rem, $weight: 400, $lineHeight: 1.5, $style: normal) {
    font: {
        family: titling-gothic-fb-compressed, sans-serif;
        weight: $weight;
        style: $style;
        size: $size;
    }
    line-height: $lineHeight;
}
