/*--------------------------------------------------------*\
    Active Status
\*--------------------------------------------------------*/

@mixin active($z: false, $transition: false) {
    opacity: 0;
    visibility: hidden;

    @if ($transition) {
        transition: $transition;
    }

    @else {
        transition: all 0.35s ease-in;
    }

    &:hover,
    &--active {
        opacity: 1;
        visibility: visible;

        @if ($z) {
            z-index: $z;
        }
    }
}

@mixin activeChild($child, $z: false, $transition: false) {
    position: relative;
    z-index: 1;
    cursor: pointer;

    #{$child} {
        opacity: 0;
        visibility: hidden;

        @if ($transition) {
            transition: $transition;
        }

        @else {
            transition: all 0.35s ease-in;
        }
    }

    &:hover,
    &--active {
        #{$child} {
            opacity: 1;
            visibility: visible;

            @if ($z) {
                z-index: $z;
            }
        }
    }
}