/*--------------------------------------------------------*\
    Box Shadows
\*--------------------------------------------------------*/

@mixin boxShadowMaterial($level, $radius: 0) {
    border-radius: $radius;

    @if ($level == 1) {
        box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
    }

    @else if ($level == 2) {
        box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
    }

    @else if ($level == 3) {
        box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
    }

    @else if ($level == 4) {
        box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
    }

    @else if ($level == 5) {
        box-shadow: 0 1.1875rem 2.375rem rgba(0, 0, 0, 0.30), 0 0.937rem 0.75rem rgba(0, 0, 0, 0.22);
    }
}

@mixin boxShadow($config: ()) {

    // merge config with defaults
    $config: extend(
        (
            position: (
                x: 0.25rem,
                y: 0.25rem,
            ),
            blur: 1rem,
            spread: 0,
            color: rgba($body, 0.25),
        ), $config
    );

    // vars
    $position: map-get($config, position);
    $x: map-get($position, x);
    $y: map-get($position, y);
    $blur: map-get($config, blur);
    $spread: map-get($config, spread);
    $color: map-get($config, color);

    // define
    box-shadow: $x $y $blur $spread $color;
}

// // solutions featured
// box-shadow: 0 1px 21px 0 rgba($body, 0.22);

// // header
// box-shadow: 1.5px 5.8px 16px 0 rgba($body, 0.22);

// // careers
// box-shadow: 0 2px 4px 0 rgba($body, 0.5);

// // blog
// box-shadow: 6px 6px 17px 0 rgba($body, 0.11);

// // single (sidebar)
// box-shadow: 0 1px 21px 0 rgba($body, 0.22);

// // investors container
// box-shadow: 6px 6px 8px 0 rgba($body, 0.24);




