/*--------------------------------------------------------*\
    svg => path
\*--------------------------------------------------------*/

@mixin svg($sizing, $fill) {
    $width: if(isMap($sizing), map-get($sizing, width), $sizing);
    $height: if(isMap($sizing), map-get($sizing, height), auto);

    &, svg {
        width: $width;
        height: $height;
        @content;
    }

    svg {
        path, rect, ellipse {
            fill: $fill;
        }
    }
}
