/*--------------------------------------------------------*\
    Form Mixins
\*--------------------------------------------------------*/

@mixin formTitle() {
    color: $green;
    margin-bottom: 2rem;
    @include heading(1.5rem, 700, 1.375);
    @include m(960) {
        font-size: 1.25rem;
    }
}

@mixin formField() {
    width: 100%;
    margin-bottom: 1rem;
    @include body(1rem);
    position: relative;
    margin-bottom: 1.5rem;
}

@mixin label() {
    margin-bottom: 0.5rem;
    pointer-events: none;
    color: $body;
    @include body(1rem, 400, 1.25);
}

@mixin input($size: 'medium') {
    width: 100%;
    padding: 0.5rem;
    @include border();
    border-radius: 0.25rem;
    outline: none;
    background-color: $white;
    @include body(1rem, 400, 1.25);

    @if ($size == 'small') {
        max-width: 24rem;
    }

    @else if ($size == 'medium') {
        max-width: 32rem;
    }

    @else if ($size == 'large') {
        max-width: 32rem;
    }

    &::-webkit-input-placeholder {
        color: $grey;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $grey;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $grey;
        opacity: 1;
    }
}

@mixin submit() {
    @include button($config: (
        color: $green,
        hover: $blue,
        active: $blue,
    ));
    margin-bottom: 0.5rem;
}